          * {
            padding: 100;
            margin: 50;
        }

        .nav {
            background-color: aqua;
            height: 20px;
            padding: 10px;
            text-align: center;
            margin-bottom: 10px;
        }

        .banner {
            background-color: aquamarine;
            height: 200px;
        }

        .content {
            background-color: rgb(37, 27, 27);
            height: 20px;
            height: 100px;
        }

        img {
            width: 100%;
            filter: grayscale(100%) invert(100%) ;
        }
