      .box {
      width: 200px;
      height: 200px;
      background-color: #3498db;
      color: #fff;
      text-align: center;
      line-height: 200px;
      margin: 20px; /* Add margin */
      padding: 20px; /* Add padding */
    }

    /* Apply styles to images */
    .image-container {
      margin: 20px;
    }

    /* Apply image filter */
    .filtered-image {
      filter: grayscale(50%) blur(5px);
      height:500px;
      width:auto;
    }
/* Animation for fade-in effect */
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 2;
      }
    }

    /* Apply styles to div with animation */
    .animated-box {
      width: 200px;
      height: 200px;
      background-color: #3498db;
      color: #fff;
      text-align: center;
      line-height: 200px;
      margin: 20px;
      padding: 20px;
      opacity: 0; /* Set initial opacity to 0 */
      animation: fadeIn 5s reverse; /* Apply animation */
    }

    /* Apply styles to button with hover effect */
    .hover-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #2ecc71;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 1s ease; /* Apply transition */
    }

    /* Hover effect */
    .hover-button:hover {
      background-color: #27ae60;
    }

